<a href="https://colab.research.google.com/github/yellow-1999/indicator-stickynotes/blob/master/first_lec_in_udemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
iname=input("enter your name : ")
iname1=input("enter last name : ")
print("Hello :) "+iname+"  "+iname1)

enter your name : ath
enter last name : eer
Hello :) ath  eer

here , if we want calculate area need to make the input in Integer type 
also the var if area 
if i use comma , to print --> print("the rectangle area =   ", r) no need to convert the r to str if need use + print("the rectangle area =   "+str( r))

In [7]:
w=int(input("enter w : "))
l=int(input("enter l : "))
r=w*l
print("the rectangle area =   ", r)

enter w : 3
enter l : 2
the rectangle area =    6

In [13]:
num=int(input("enter any number :::  "))
if num>10:
  print("n is > 10")
elif num <10:
  print("hey num < 10")
else:
  print("go to sleep :< ")

enter any number :::  8
hey num < 10

even and odd numbers ^^

In [15]:
i=int(input("number : "))

if i%2==0:
  print("even")
else:
  print("odd")

number : 8
even

In [16]:
#print if num true of false without use if statment ok!
#Example--> if num >1000 

m=int(input("enter nummber "))
print(m>1000)

enter nummber 60
False

In [23]:
n=int(input("enetr number : "))
d=17-n

if d>17:
  print("result of the diffrence is =  ",d," ---> ","and the double = ",d*2)
else:
  print("the diff is < 17  = ",d)

enetr number : 3
the diff is < 17  =  14

In [28]:
def s_of_three (a,b,c):
  
  sum=a+b+c
  if a==b and b==c:
    print("the numbers are equal :! so the double of it are=")
    print(sum*3)
  else:
    print("the sum only =",sum) 


x=1
y=1
z=1

print("the result =",s_of_three (x,y,z))

the numbers are equal :! so the double of it are=
9
the result = None

In [36]:
for i in range(1,10):
  print("=",i)
print("------------------")
for i in range(4):
  print("=",i)
("------------------")
print("python"*3)

= 1
= 2
= 3
= 4
= 5
= 6
= 7
= 8
= 9
------------------
= 0
= 1
= 2
= 3